.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  /* align-items: center; */
  flex-direction: row;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-nav .nav-link,
.dropdown-menu .dropdown-item {
  color: white;
}

.button {
  background-color: #373cbc;
  border-radius: 20px;
  border-style: none;
  padding: 3px;
  margin: 10px;
  color: white;
  height: auto;
  width: 30px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.button:hover {
  background-color: #06084e;
}

.reset-button {
  background-color: #373cbc;
  border-radius: 20px;
  border-style: none;
  padding: 3px;
  margin: 10px;
  color: white;
  height: auto;
  width: 60px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.reset-button:hover {
  background-color: #06084e;
}

.counter {
  background-color: #373cbc;
  border-radius: 20px;
  border-style: none;
  padding: 3px;
  margin: 10px;
  color: white;
  height: auto;
  width: 100px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.square-adder {
  background-color: #565bf3;
  width: 100px;
  height: 100px;
  margin: 20px;
  text-align: center;
  margin-top: 20px;
}

.square-adder2 {
  background-color: #e2001a;
  width: 100px;
  height: 100px;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}

.square-adder-button {
  background-color: #008f5a;
  width: auto;
  height: 50px;
  margin: auto;
  text-align: center;
  display: block;
  margin-top: 20px;
  cursor: pointer;
  color: white;
  border-style: dotted;
}

.square-adder-button:hover {
  background-color: #02714a;
}

/* .card-container {
  display: flex;
  flex-direction: row;
  justify-content: center; //Ensures the card contents are spaced evenly
}*/
